<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <script>
        function saveClient() {
            const createdClientDataContainer = document.getElementById('createdClientDataContainer');
            // post({"clientName": clientName.value});
            const clientName = document.getElementById('clientName');
            fetch('api/v1/client', {
                method: 'POST',
                body: clientName.value
            }).then(response => response.json())
                .then(client => createdClientDataContainer.innerHTML = JSON.stringify(client) + "создан");

        }
    </script>
</head>

<body>
<input type="text" id="clientName" placeholder="Введите имя клиента">
<button onclick="saveClient()">Создать</button>
<pre id="createdClientDataContainer"></pre>


<table border="1" style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
    </tr>
    </thead>
    </tr>
    <#list clients as client>
    <tr>
        <td>${client.id}</td>
        <td>${client.name}</td>
    </tr>
</
#list>
</table>
</body>
</html>
